<meta charset="utf-8" />
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
	<meta name="google" content="notranslate" />
	<meta name="robots" content="index, follow" />

	<meta name="keywords" content="{{ site.data.config.general.keywords }}" />
	<meta name="author" content="{{ site.data.config.general.title }}" />
	<meta property="og:site_name" content="{{ site.data.config.general.title }}" />
	<meta name="twitter:site" content="{{ site.data.config.general.title }}" />

	<meta property="og:type" content="website" />
	<meta property="og:locale" content="{{ site.lang | default: 'id-ID' }}" />
	<meta name="twitter:card" content="summary_large_image" />

	{%- if page.thumbnail %}
	{% capture ogp -%}
		{%- if page.thumbnail contains 'http' -%}
			{{ page.thumbnail }}
		{%- else -%}
			{{ page.thumbnail | absolute_url }}
		{%- endif -%}
	{%- endcapture -%}
	<meta property="og:image" content="{{ ogp }}" />
	<meta name="twitter:image" content="{{ ogp }}" />
	{% else %}
	<meta property="og:image" content="{{ site.data.config.general.ogp | absolute_url }}" />
	<meta name="twitter:image" content="{{ site.data.config.general.ogp | absolute_url }}" />
	{% endif %}

	{%- if page.title %}
	<meta name="title" content="{{ page.title }}" />
	<meta property="og:title" content="{{ page.title }}" />
	<meta name="twitter:title" content="{{ page.title }}" />
	<meta name="apple-mobile-web-app-title" content="{{ page.title }}" />
	{% else %}
	<meta name="title" content="{{ site.data.config.general.title }}" />
	<meta property="og:title" content="{{ site.data.config.general.title }}" />
	<meta name="twitter:title" content="{{ site.data.config.general.title }}" />
	<meta name="apple-mobile-web-app-title" content="{{ site.data.config.general.title }}" />
	{%- endif %}

	{%- if page.url != '/' %}
	{%- if page.url contains '404' or page.url contains 'kategori' or page.url contains 'label' or page.url contains 'cari' %}
	<meta name="description" content="{{ page.description }}" />
	<meta property="og:description" content="{{ page.description }}" />
	<meta name="twitter:description" content="{{ page.description }}" />
	{%- else %}
	<meta name="description" content="{{ page.content | newline_to_br | replace: '<br />', ' ' | strip_newlines | strip_html | replace: '  ', ' ' | strip | truncatewords: 30 }}" />
	<meta property="og:description" content="{{ page.content | newline_to_br | replace: '<br />', ' ' | strip_newlines | strip_html | replace: '  ', ' ' | strip | truncatewords: 30 }}" />
	<meta name="twitter:description" content="{{ page.content | newline_to_br | replace: '<br />', ' ' | strip_newlines | strip_html | replace: '  ', ' ' | strip | truncatewords: 30 }}" />
	{%- endif %}
	{%- else %}
	<meta name="description" content="{{ site.data.config.general.description }}" />
	<meta property="og:description" content="{{ site.data.config.general.description }}" />
	<meta name="twitter:description" content="{{ site.data.config.general.description }}" />
	{%- endif %}

	<!-- Canonical -->
	<meta property="og:url" content="{{ page.url | absolute_url }}" />
	<link rel="canonical" href="{{ page.url | absolute_url }}" />

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="{{ site.data.config.logo.favicon | absolute_url }}" />
	<link rel="apple-touch-icon" href="{{ site.data.config.logo.favicon | absolute_url }}" />
	<meta name="msapplication-TileImage" content="{{ site.data.config.logo.favicon | absolute_url }}" />

	<!-- Status Bar -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta name="apple-mobile-web-app-status-bar" content="{{ site.tab_color | default: '#fff' }}" />
	<meta name="msapplication-TileColor" content="{{ site.tab_color | default: '#fff' }}" />
	<meta name="theme-color" content="{{ site.tab_color | default: '#fff' }}" />

	<!-- System Theme -->
	<meta name="color-scheme" content="dark light" />